@model Cultivo.Web.DTOs.NewPostViewDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PostViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input type="file" name="attachment" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="written" class="control-label"></label>
                <input asp-for="written" class="form-control" />
                <span asp-validation-for="written" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
