@model IEnumerable<Cultivo.Web.Models.PostViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.written)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@{ @item.image }" width="150" height="150"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.written)
            </td>
        </tr>
}
    </tbody>
</table>
